body {
	background: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
}

.main-title {
	text-align: center;
	font-size: 90px;
	font-weight: 100;
	color: pink;
	margin-top: 20px;
}

.todo-container {
	width: 550px;
	margin: auto;
	background: white;
	box-shadow: 0px 2px 8px lightgray;
}

.todo-input {
	width: 100%;
	border: none;
	padding: 20px;
	font-size: 24px;
	outline: none;
	color: gray;
}

.todo-input::placeholder {
	color: lightgray;
	font-style: italic;
}

.todo-item {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 20px;
	font-size: 24px;
	color: gray;
	border-left: none;
	border-right: none;
}

.delete-icon {
	color: pink;
	visibility: hidden;
	cursor: pointer;
	font-size: 22px;
}

.todo-item:hover .delete-icon {
	visibility: visible;
}

.todo-footer {
	padding: 10px 15px;
	font-size: 14px;
	color: gray;
}

.empty-task {
	color: lightgray;
	font-style: italic;
	padding: 15px 20px;
}

.todo-container::before {
	content: "";
	display: block;
	width: 98%;
	height: 5px;
	background: white;
	margin: auto;
	box-shadow: 0px 2px 5px lightgray;
}

.todo-container::after {
	content: "";
	display: block;
	width: 96%;
	height: 5px;
	background: white;
	margin: auto;
	box-shadow: 0px 2px 5px lightgray;
}

.btn-danger {
	margin-top: 10px;
}